1.	Write a Python program to find sum of elements in list?

In [2]:
l=[1,4,5,6,7,89,8,345]
sum=0
for i in l:
    sum=sum+i
print(sum)

465

2.	Write a Python program to  Multiply all numbers in the list?

In [4]:
l=[1,2,3,4,5]
pro=1
for i in l:
    pro=pro*i
print(pro)

120

3.	Write a Python program to find smallest number in a list?

In [5]:
l=[14,44,5,6,7,89,8,345]
min(l)

5

4.	Write a Python program to find largest number in a list?

In [6]:
l=[14,44,5,6,7,89,8,345]
max(l)

345

5.	Write a Python program to find second largest number in a list?

In [10]:
l=[14,44,5,6,7,89,8,345]
l.sort(reverse=True)
l[1]

89

6.	Write a Python program to find N largest elements from a list?

In [11]:
l=[14,44,5,6,7,89,8,345]
l.sort(reverse=True)
nele=3 
for i in range(nele):
    print(l[i])

345
89
44

7.	Write a Python program to print even numbers in a list?

In [12]:
l=[14,44,5,6,7,89,8,345]
evl=[]
for i in l:
    if i %2==0:
        evl.append(i)
print(evl)

[14, 44, 6, 8]

8.	Write a Python program to print odd numbers in a List?

In [14]:
l=[14,44,5,6,7,89,8,345]
odl=[]
for i in l:
    if i %2!=0:
        odl.append(i)
print(evl)

[5, 7, 89, 345]

9.	Write a Python program to Remove empty List from List?

In [63]:
lst=[1,2,34,[],45,[3,4,5],90,763,[],678,[4,5,6,7,9],[]]
print(lst)
for i in lst:
    if type(i)==list and len(i)==0:
        lst.remove(i)
print(lst)

[1, 2, 34, [], 45, [3, 4, 5], 90, 763, [], 678, [4, 5, 6, 7, 9], []]
[1, 2, 34, 45, [3, 4, 5], 90, 763, 678, [4, 5, 6, 7, 9]]

10.	Write a Python program to Cloning or Copying a list?

In [56]:
#way1 
lstorg=[1,2,34,[],45,[3,4,5],90,763]
lstrep=lstorg.copy()
print(lstrep)

#way2
lstorg2=[1,2,34,[],45,[3,4,5],90,763]
lstrep2=lstorg2
print(lstrep2)

[1, 2, 34, [], 45, [3, 4, 5], 90, 763]
[1, 2, 34, [], 45, [3, 4, 5], 90, 763]

11.	Write a Python program to Count occurrences of an element in a list?

In [48]:
lst=[1,2,3,2,1,1,1,1,2,3,4]
s1=set(lst)
for i in s1:
    cnt=0
    for j in lst:
        if j==i:
            cnt=cnt+1
    print("No of times {ele} occured is ".format(ele=i)+str(cnt))

No of times 1 occured is 5
No of times 2 occured is 3
No of times 3 occured is 2
No of times 4 occured is 1